<div class="user-details">
  <h1>Nossa Expertise</h1>
  <p>Nossa especialidade é criar software da mais alta qualidade. Para isso, não nos prendemos à tecnologias específicas, mas ficamos atentos às tendências internacionais para que nossos clientes tenham acesso ao que há de melhor em primeira mão.</p>

  <h1>Nossos valores</h1>
  <p>Sem deixar de reconhecer outros valores, nossa experiência profissional e acadêmica nos leva a priorizar:</p>
</div>
<div class="user">
  <div class="tech value-container">
    <h2>Qualidade</h2>
    <i class="icon fa fa-check-circle-o"></i>
    <p>Planejamos o trabalho para entregar funcionalidades tecnicamente excelentes, ao invés de entregar muitas que exigirão retrabalho no futuro.</p>
  </div>
  <div class="tech value-container">
    <h2>Sustentabilidade</h2>
    <i class="icon fa fa-line-chart"></i>
    <p>Não prometemos entregar algo que acreditamos não ter tempo suficiente para executar. Somos transparentes quanto aos prazos para evitar conflitos.</p>
  </div>
  <div class="tech value-container">
    <h2>Pragmatismo</h2>
    <i class="icon fa fa-cogs"></i>
    <p>Focamos em entregar o máximo de valor para o seu produto de acordo com suas necessidades. Mas isso não significa que não vamos tentar surpreendê-lo.</p>
  </div>
</div>
