<footer class="footer">
    <p>&copy; Pragma Code</p>
    <p><a href="mailto:{{site.email}}" onClick="sendEmailEventTrack('footer');"><i class="icon fa fa-envelope"></i> {{site.email}}</a></p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
