<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title"><img alt="Pragma Code" src="{{ "/assets/img/logo_w.svg" | prepend: site.baseurl }}" /></span>
      </h1>
      <div class="header-icons">
        <a aria-label="Enviar Email" href="mailto:{{site.email}}" onClick="sendEmailEventTrack('header');"><i class="icon fa fa-envelope"></i></a>
        <!--
        <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="#"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        -->
        <a aria-label="Nosso Gitlab" target="_blank" href="https://gitlab.com/{{site.gitlab_username}}"><i class="icon fa fa-gitlab" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Sobre</a>
        <a class="link" href="#services" data-scroll>Serviços</a>
        <a class="link" href="#team" data-scroll>Equipe</a>
        <a class="link" href="#projects" data-scroll>Projetos</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
