<div class="user-details">
  <h1>Principais Projetos</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <picture>
      <source type="image/webp" srcset="{{ "/assets/img/vetor_extended.webp" | prepend: site.baseurl }}"/>
      <img alt="VetorBrasil" src="{{ "/assets/img/vetor_extended.png" | prepend: site.baseurl }}"/>
    </picture>
  </div>
  <div class="contents-right">
    <h3>Vetor Brasil</h3>
    <ul>
      <li>Ruby on Rails</li>
      <li>Heroku</li>
    </ul>
    <p>Em outubro de 2019 assumimos a manutenção e evolução das plataformas que o Vetor Brasil usa para seleção e rede de trainees. Atualmente, além da manutenção dessas plataformas, trabalhamos junto de seu time de produtos para planejar e desenvolver novas soluções de software.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <picture>
      <source type="image/webp" srcset="{{ "/assets/img/ieps_extended.webp" | prepend: site.baseurl }}"/>
      <img alt="IEPS" src="{{ "/assets/img/ieps_extended.png" | prepend: site.baseurl }}"/>
    </picture>
  </div>
  <div class="contents">
    <h3>Instituto de Estudos para Políticas de Saúde</h3>
    <ul>
      <li>Consultoria em tecnologia</li>
      <li>Infraestrutura</li>
      <li>Python</li>
      <li>Georreferenciamento</li>
    </ul>
    <p>Apoiamos o IEPS em três frentes. Fornecemos uma opinião técnica para tomada de decisões relacionadas à tecnologia da informação. Suportamos demandas de infraestrutura, como gerenciamento de firewall. E, conforme a necessidade de seus projetos de pesquisa, fornecemos software de qualidade para atender demandas como georreferenciamento eficiente de bases de dados com muitos registros.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <picture>
      <source type="image/webp" srcset="{{ "/assets/img/interscity.webp" | prepend: site.baseurl }}"/>
      <img alt="InterSCity" src="{{ "/assets/img/interscity.png" | prepend: site.baseurl }}"/>
    </picture>
  </div>
  <div class="contents-right">
    <h3>InterSCity</h3>
    <ul>
      <li>Ruby on Rails</li>
      <li>Micro Serviços</li>
      <li>Docker</li>
      <li>Linux</li>
    </ul>
    <p>Projeto de pesquisa colaborativo parte do <a href="https://interscity.org" target="_blank">INCT Internet do Futuro para Cidades Inteligentes</a>. Esse projeto é composto por 9 instituições brasileiras de pesquisa e parceiros internacionais. Nosso papel é manter e evoluir dois projetos de software livre frutos dessa pesquisa: <a href="http://playground.interscity.org/" target="_blank">InterSCity Platform</a>; e <a href="http://healthdashboard.interscity.org/" target="_blank">InternaSUS</a>.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <picture>
      <source type="image/webp" srcset="{{ "/assets/img/kinoforum.webp" | prepend: site.baseurl }}">
      <img alt="Kinofórum" src="{{ "/assets/img/kinoforum.png" | prepend: site.baseurl }}">
    </picture>
  </div>
  <div class="contents">
    <h3>Acervo Kinofórum</h3>
    <ul>
      <li>Django</li>
      <li>MariaDB / MySQL</li>
      <li>Linux</li>
      <li>Amazon / Digital Ocean</li>
    </ul>
    <p>Em 2011 a <a href="http://kinoforum.org/" target="_blank">Associação Cultural Kinofórum</a> começou a desenvolver um sistema para gerenciar seu acervo com mais de 60 mil filmes. Esse sistema foi se degradando sem a devida manutenção até que em 2019 nós assumimos o projeto. Desde então, trabalhamos para melhorar sua estabilidade e segurança. Ao mesmo tempo, conseguimos adicionar novas funcionalidades de acordo com as demandas da equipe e reduzimos custos de infraestrutura.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <picture>
      <source type="image/webp" srcset="{{ "/assets/img/consegtur_extended.webp" | prepend: site.baseurl }}"/>
      <img alt="Consegtur" src="{{ "/assets/img/consegtur_extended.jpg" | prepend: site.baseurl }}"/>
    </picture>
  </div>
  <div class="contents-right">
    <h3>Consegtur</h3>
    <ul>
      <li>Ionic</li>
      <li>Azure AI</li>
      <li>Android</li>
      <li>iOS</li>
    </ul>
    <p>Aplicativo para dispositivos móveis com sistema operacional Android ou iOS. Inclui funcionalidades como reconhecimento de texto e reconhecimento facial que fornecem mais segurança para o processo de confirmação de pagamentos.</p>
    <a href='https://play.google.com/store/apps/details?id=com.consegtur.app&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img alt='Disponível no Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pt-br_badge_web_generic.png' style="height: 60px;"/></a>
    <a href='https://itunes.com/apps/consegtur' target="_blank"><img alt='Baixar na App Store' src="{{ "/assets/img/apple_app_store.svg" | prepend: site.baseurl }}" style="height: 40px; padding-top:10px; padding-bottom: 10px;"/></a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <picture>
      <source type="image/webp" srcset="{{ "/assets/img/minuto.webp" | prepend: site.baseurl }}">
      <img alt="Festival Do Minuto" src="{{ "/assets/img/minuto.png" | prepend: site.baseurl }}">
    </picture>
  </div>
  <div class="contents">
    <h3>Festival Do Minuto</h3>
    <ul>
      <li>Ruby on Rails</li>
      <li>PostgreSQL</li>
      <li>Linux</li>
      <li>Amazon / Digital Ocean</li>
    </ul>
    <p>Criado em 1991, o Festival do Minuto trabalha com a seleção de imagens em movimento – de amadores e profissionais – para o exercício da síntese em trabalhos com duração máxima de 60 segundos. Ele foi o pioneiro no formato no mundo, tendo inspirado a criação de Festivais do Minuto em mais de 50 países.</p>
    <a class="project-link" target="_blank" href="http://festivaldominuto.com.br">Visite</a>
  </div>
</div>
