<div class="user-details">
  <h1>Serviços</h1>
  <p>Oferecemos um pacote completo para o software dos nossos clientes, apoiando-os desde a concepção e desenvolvimento até a implantação nos servidores, monitoramento da estabilidade e evoluções posteriores.</p>
</div>
<div class="user">
  <div class="tech value-container">
    <h2>Prototipagem</h2>
    <i class="icon fa fa-pencil"></i>
    <p>Trabalhamos junto de nossos clientes para desenvolver protótipos (também conhecidos como <i>MVP - Minimal Viable Product</i>). Isso permite validar suas ideias de produto de forma rápida e com baixo custo. O MVP também serve como base para expandir o seu produto.</p>
  </div>
  <div class="tech value-container">
    <h2>Desenvolvimento</h2>
    <i class="icon fa fa-rocket"></i>
    <p>Desenvolvemos o produto de forma incremental junto do cliente. Respondemos rapidamente a novos requisitos e, por meio de entregas constantes, fornecemos uma visão contínua do trabalho realizado. Assim, nossos clientes percebem o retorno de seus investimentos do início ao fim do projeto.</p>
  </div>
  <div class="tech value-container">
    <h2>Manutenção</h2>
    <i class="icon fa fa-wrench"></i>
    <p>Oferecemos a nossos clientes a manutenção necessária para que falhas sejam encontradas e corrigidas preventivamente. Mantemos o sistema atualizado e continuamente monitoramos seu funcionamento para garantirmos que tudo está sendo executado de acordo com o que o cliente quer.</p>
  </div>
</div>
