#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
}

.value-container {
  @media only screen and (min-width: $cut) {
    width: 33%;
  }
}
