#team {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.profile-container {
  @media only screen and (min-width: $cut) {
    width: 50%;
  }
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  a {
    &:link {
      color: $main;
    }
    &:visited{
      color: $main;
    }
    &:hover {
      color: $main;
    }
    &:active {
      color: $main;
    }
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}

.user-avatar {
  width: 33%;
  border-radius: 6px;
}

.user-missing-avatar {
  @media only screen and (min-width: $cut) {
    min-height: 203px;
    padding-top: 25px;
  }
}
